@import url("variables.css");
@import url("utilities.css");

/*---------------
    TYPOGRAPHY 
----------------*/
body{
    font-family: 'Roboto', sans-serif;
}

/*---------------
  PAGE CONTAINER
----------------*/
.ms-page-container{
    height: calc(100vh - 4.375rem);
    display: flex;
}

/*---------------
    HEADER 
----------------*/
header {
    background-color: #f8f9fa;
    height: 4.375rem;
}

.ms-header-container{
    background-color: white;
    height: 80%;
    width: 100%;
}

header .ms-logo{
    min-width: 4.375rem;
}

header .ms-logo img{
    width: 3.125rem;
}

header .ms-search-bar span,
header .ms-search-bar input {
    width: 100%;
}

header .ms-nav-icons{
    width: 3.125rem;
}

@media screen and (min-width: 992px) {
    header .ms-nav-icons{
        width: 200px;
    }
}

/*---------------
    ASIDE 
----------------*/
aside{
    width: 4.375rem;
    background-image: url("../img/sidebar-bg.png");
}

aside .ms-aside-icon button{

}

@media screen and (min-width: 992px) {
    aside{
        width: 130px;
    }
}
@media screen and (min-width: 1400px) {
    aside{
        width: 140px;
    }
}

/*---------------
    MAIN 
----------------*/
main {
    overflow-y: auto;
    flex-grow: 1;
}

/*------------------
MAIN DASHBOARD TOP
--------------------*/
.ms-dashboard__top{
    background-color: #1c72e8;
}

.ms-dashboard__top .badge{
    background-color: #155ccc;
}

.ms-dashboard__top i{
    font-size: .625rem;
}

.ms-dashboard #ms-online-stud__num{
    font-size: 1.875rem;
}

@media screen and (min-width: 992px) {
    #ms-online-stud{
        font-size: .875rem;
    }
}


/*---------------
    DEBUG 
----------------*/
.ms-debug .ms-page-container{
    background-color: red;
}

@media screen and (min-width: 450px) {
    /* creata media query provvisoria solo per
    avere il breakpoint su ispeziona sito */
}